@model CDNSTORES.Models.IndexViewModel
@{
    ViewBag.Title = "Manage";
}
<hr class="thanh-ngang" />
<div class="banner-bootom-w3-agileits">
    <div class="row sm-gutter details-container">
        <!-- tittle heading -->
        <h3 class="tittle-w3l">
            <span class="heading-style">
                <i></i>
                <i></i>
                <i></i>
            </span>
        </h3>
        <!-- //tittle heading -->
        <div class="col-md-12 single-right-left bia-dangky">
            <div class="dang-ky" style=" border: 1px solid; margin-bottom: 20px; border-radius: 5px; text-align: center;">
                <h5 style="font-weight:bolder">Mật khẩu đã được thay đổi!</h5>
            </div>
            <img src="~/Content/images/bg_comingsoon.jpg" alt="" class="bia-dangky" style="width: 100%; border-radius: 5px; " />
        </div>



    </div>
</div>
<hr />

@section Scripts {
    @Scripts.Render("~/bundles/jqueryval")
}