
@{
    ViewBag.Title = "Index";
}

<br />
<img src="~/Content/images/desktop_productlist.jpg" alt="" class="desktop_productlist" />

<div class="banner-bootom-w3-agileits banner">
    <div class="row sm-gutter details-container">
        <!-- tittle heading -->
        <h3 class="tittle-w3l">
            <span class="heading-style">
                <i></i>
                <i></i>
                <i></i>
            </span>
        </h3>
        <!-- //tittle heading -->
        <div class="col-md-6 single-right-left ">
            <img src="~/Content/images/banner-phụ_2m-600x320.jpg" alt="" class="desktop_productlist" style="height:256px;"/>
            <p style="font-size:28px;margin-top:15px;font-weight:bolder"  class="about">
                ALL BLACK IN BLACK
            </p>
            <p style="font-size:16px;">
                Mặc dù được ứng dụng rất nhiều, nhưng sắc đen lúc nào cũng toát lên một vẻ huyền bí không nhàm chán.
            </p>
        </div>
        <div class="col-md-6 single-right-left ">
            <img src="~/Content/images/Banner_Sale-off-1.jpg" alt="" class="desktop_productlist" style="height:256px;" href="#" />
            <p style="font-size:28px;margin-top:15px;font-weight:bolder" class="about">
                OUTLET SALE
            </p>
            <p style="font-size: 16px; text-align: justify">
                Danh mục những sản phẩm bán tại "giá tốt hơn" chỉ được bán kênh online - Online Only, chúng đã từng làm mưa làm gió một thời gian và hiện đang rơi vào tình trạng bể size, bể số.
            </p>
        </div>

    </div>
</div>
<img src="~/Content/images/Banner_Clothing.jpg" alt="" class="desktop_productlist" />
<p style="font-size:28px;margin-top:15px;font-weight:bolder;text-align:center;margin:25px 0;" class="about">
    TIN TỨC & BÀI VIẾT
</p>
<div class="banner-bootom-w3-agileits banner">
    <div class="row sm-gutter details-container">
        <!-- tittle heading -->
        <h3 class="tittle-w3l">
            <span class="heading-style">
                <i></i>
                <i></i>
                <i></i>
            </span>
        </h3>
        <!-- //tittle heading -->
        <div class="col-md-4 single-right-left ">
            <img src="~/Content/images/kvngang_mobile_web-300x160.jpg" alt="" class="desktop_productlist" />
            <p style="font-size: 19px; margin-top: 15px; font-weight: bolder;" class="about">
                URBAS CORLURAY PACK
            </p>
            <p style="font-size: 16px; text-align: justify">
                Urbas Corluray Pack đem đến lựa chọn “làm mới mình” với sự kết hợp 5 gam màu mang sắc thu; phù hợp với những người trẻ năng động, mong muốn thể hiện cá tính riêng biệt khó trùng lặp...
                <a href="https://ananas.vn/urbas-corluray-pack/" style="color:red">Đọc thêm</a>
            </p>
        </div>
        <div class="col-md-4 single-right-left ">
        <img src="~/Content/images/Mobile_Blog-1980s_0-300x160.jpg" alt="" class="desktop_productlist" />
        <p style="font-size: 19px; margin-top: 15px; font-weight: bolder;" class="about">
             VINTAS SAIGON 1980s
        </p>
        <p style="font-size: 16px; text-align: justify">
            Với bộ 5 sản phẩm, Vintas Saigon 1980s Pack đem đến một sự lựa chọn “cũ kỹ thú vị” cho những người trẻ sống giữa thời hiện đại nhưng lại yêu nét...
            <a href="https://ananas.vn/cam-hung-vintas-saigon-1980s/" style="color:red">Đọc thêm</a>
        </p>
        </div>
        <div class="col-md-4 single-right-left ">
        <img src="~/Content/images/peeping_pattas01-300x160.jpg" alt="" class="desktop_productlist" />
        <p style="font-size:19px;margin-top:15px;font-weight:bolder;" class="about">
            SNEAKER FEST VIETNAM VÀ SỰ KẾT HỢP
        </p>
        <p style="font-size: 16px; text-align: justify">
            Việc sử dụng dáng giày Vulcanized High Top của Ananas trong thiết kế và cảm hứng bắt nguồn từ linh vật Peeping - đại diện cho tinh thần...
            <a href="https://ananas.vn/sneaker-fest-vietnam-va-su-ket-hop/" style="color:red">Đọc thêm</a>
        </p>
        </div>

    </div>
</div>
<hr />

